.deps/
autom4te.cache
config.log
config.h
config.cache
config.status
doc
Makefile
mod_auth_otp.h
t/api-tests
t/*.log
t/bin
*.a
*.la
*.lo
*.log
*.o
*.orig
*.patch
*.rej
*~
*.swp
.DS_Store
.libs
libtool
